$primary-blue: #436083;
$primary-green: #3ecc88;
$secondary-green: #acebc5;

$female-primary: #b94f75;
$female-secondary: #d8799c;
// find a secondary for female.

$male-primary: #3e90cc;
$male-secondary: #76aada;

$empty-gray: #d6d6d6;